@import "tailwindcss";
@source "../**/*.tsx";

@theme {
  --color-black-50: #f6f6f6;
  --color-black-100: #e7e7e7;
  --color-black-200: #d1d1d1;
  --color-black-300: #b0b0b0;
  --color-black-400: #888888;
  --color-black-500: #6d6d6d;
  --color-black-600: #5d5d5d;
  --color-black-700: #4f4f4f;
  --color-black-800: #454545;
  --color-black-900: #3d3d3d;
  --color-black-950: #000000;

  --breakpoint-lg-panelSlide: 1284px;
}

@layer components {
  .heading-58 {
    @apply text-[58px] leading-[105%];
  }
  .roobert-16 {
    font-family: var(--font-roobert);
    font-size: 16px;
    font-weight: 400;
  }
  .roobert-18 {
    font-family: var(--font-roobert);
    font-size: 18px;
    font-weight: 400;
    @apply tracking-[0.2px];
  }
  .roobert-20 {
    font-family: var(--font-roobert);
    font-size: 20px;
    font-weight: 500;
    @apply tracking-[0.2px];
  }
}
